@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
span {
    font-size: 80px;
    font-family: 'Lato',
        sans-serif;
    letter-spacing: 10px;
    color: #484848;
   }
.l{
    animation: L 2s 1s linear infinite ;
    
}
.i {
    animation: I 2.5s 1s linear infinite;
}
.g {
    animation: G 3s linear 1s infinite;
}

.h {
    animation: H 3.5s linear 1s infinite;
}
.t {
    animation: T 3.5s linear 1s infinite;
}
.ii {
    animation: II 4s linear 1s infinite;
}
.n {
    animation: N 4.5s linear 1s infinite;
}
.gg{
    animation: GG 5s linear 1s infinite;
}

@keyframes L {
    0% {
        color: #484848;
    }
50%{
    color: #fff900;
text-shadow:0 0 5px #ff6c00;
}
    100% {
   color: #484848;
    }
}


@keyframes I {
    0% {
        color: #484848;
    }

    50% {
        color: #fff900;
text-shadow:0 0 5px #ff6c00;
    }

    100% {
        color: #484848;
    }
}

@keyframes G {
    0% {
        color: #484848;
    }

    50% {
        color: #fff900;
text-shadow:0 0 5px #ff6c00;
    }

    100% {
        color: #484848;
    }
}
@keyframes H {
    0% {
        color: #484848;
    }

    50% {
        color: #fff900;
text-shadow:0 0 5px #ff6c00;
    }

    100% {
        color: #484848;
    }
}
@keyframes T {
    0% {
        color: #484848;
    }

    50% {
        color: #fff900;
text-shadow:0 0 5px #ff6c00;
    }

    100% {
        color: #484848;
    }
}
@keyframes II {
    0% {
        color: #484848;
    }

    50% {
        color: #fff900;
text-shadow:0 0 5px #ff6c00;
    }

    100% {
        color: #484848;
    }
}
@keyframes N {
    0% {
        color: #484848;
    }

    50% {
        color: #fff900;
text-shadow:0 0 5px #ff6c00;
    }

    100% {
        color: #484848;
    }
}
@keyframes GG {
    0% {
        color: #484848;
    }

    50% {
    color: #fff900;
text-shadow:0 0 5px #ff6c00;
    }

    100% {
        color: #484848;
    }
}